.flow-technical .card-details-technical .ant-card-body{
    padding: 5px 0;
}

.flow-technical .ant-list-vertical .item-meta{
    margin: 0;
}

.flow-technical .ant-list-grid .ant-list-item-content{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.flow-technical .title-meta-wrap{
    display: flex;
    justify-content: space-between;
}